@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 42px;
}

.camperList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.camperCard {
  width: 95%;
  margin: auto;
  padding: 12px;
  /* background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  border: 1px solid rgba(255, 255, 255, 0.29);
}

.title {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  margin: 20px 0 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.camperTitle {
  font-size: 20px;

  text-shadow: 1px 1px 1px #f1f3aa;
}

.camperInfo {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 12px 0;
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
}

.camperItem {
  margin-bottom: 12px;
  border-radius: 6px;
  margin: 12px 12px 18px 0px;
  flex-shrink: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.camperItem img {
  max-width: 100%;
  height: auto;
}

.bookmark {
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  fill: rgb(252, 239, 0);
  cursor: pointer;
}

.bookmark:hover {
  fill: rgb(165, 87, 39);
}
.favorite {
  fill: rgb(255, 0, 0);
}

.camperText {
  margin-bottom: 12px;
}

.price {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 0, 0);
}

.location {
  font-weight: bold;
  margin-bottom: 12px;
}

.rating {
  font-weight: bold;
}

.camperText {
  font-size: 18px;
  font-weight: 200;
  text-shadow: -1px 3px 3px rgba(65, 67, 3, 0.2);
}

.camperBtn {
  margin-bottom: 12px;
  margin-top: 12px;
  width: 100%;
}
