.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.camperCard {
  /* width: 95%;
  margin: auto; */

  padding: 12px 0px 8px 0px;
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.29); */
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

.title {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  margin: 20px 0 20px 0;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px 3px 3px rgba(65, 134, 183, 0.5);
}

.camperTitle {
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%; /* Adjust this value as needed */
  font-size: 24px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #f1f3aa;
}

.camperInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 12px 0;
  padding: 0 12px;
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
}

.campersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 42px;
}

.bookmark {
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  fill: rgb(252, 239, 0);
  cursor: pointer;
}

.bookmark:hover {
  fill: rgb(165, 87, 39);
}
.favorite {
  fill: rgb(255, 0, 0);
}

.camperFooter {
  padding: 12px 8px 2px 8px;
}

/* .camperDetails {
  padding: 0 12px;
} */

.camperText {
  margin-bottom: 12px;
}

/* .camperCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border: 1ps solid #2b2727;
}



.campersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

.card {
  width: 95%;
  margin: auto;
  padding: 12px;
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.29);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cardTitle {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Lexend Mega', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.cardGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.cardGallery img {
  height: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  height: 100px;
}

.cardDescription {
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}
.descriptionlabel {
  font-weight: bold;
  margin-right: 5px;
}

.cardPrice {
  font-size: 16px;
  font-weight: bold;
}

.cardRating {
  font-size: 14px;
  margin-bottom: 10px;
}

.cardButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cardButton:hover {
  background-color: #0069d9;
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
}

.bookmark {
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
} */
