.campers-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1ps solid #2b2727;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.campersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.cardGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.cardGallery img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cardDescription {
  font-size: 14px;
  margin-bottom: 10px;
}

.cardPrice {
  font-size: 16px;
  font-weight: bold;
}

.cardRating {
  font-size: 14px;
  margin-bottom: 10px;
}

.cardButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cardButton:hover {
  background-color: #0069d9;
}
