.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 42px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 12px 0px 8px 0px;
  background: rgba(255, 255, 255, 0.38);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  margin-bottom: 22px;
}

.avatarBlock {
  padding: 0 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 18px;
}

.avatar {
  width: 60px;
  border-radius: 8px;
  margin-right: 12px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.commentBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.camperPhoto {
  width: 100%;
  height: auto;
  /* border-radius: 8px; */
  margin-bottom: 12px;
}

.comment {
  padding: 0 12px;
  font-size: 16px;
  color: #4e4a67;
  line-height: 1.5em;
}
