.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal a {
  display: block;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.modal a:hover {
  background-color: #f0f0f0;
}

.modal a.active {
  font-weight: bold;
}

@media (max-width: 320px) {
  .modal {
    width: 100%;
    padding: 10px;
  }
}

.mobileMenuModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Півпрозорий фон */
  z-index: 9999; /* Перекриває інші елементи */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileMenuContent {
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba(50, 153, 194, 0.1); /* Тінь */
}

.mobileMenuContent a {
  width: 100px;
  margin-bottom: 10px;
  border: 1px solid #079a97;
  border-radius: 6px;
  display: block;
  padding: 10px 8px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.mobileMenuContent a:hover {
  background-color: #f0f0f0; /* Зміна кольору при наведенні */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: black;
}

.closeButton:hover {
  color: red; /* Зміна кольору при наведенні */
}
