.footer {
  background-image: url('../images/bgrd/bgdFooter.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 700px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 50px 0px;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.38);
  border-top: 2px solid rgba(32, 115, 241, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-bottom: 10px;
}

.copyright {
  margin-bottom: 10px;
}

.poweredBy {
  margin-bottom: 10px;
}

.version {
  margin-bottom: 10px;
}

.author {
  margin-bottom: 10px;
}

.footerDivision {
  margin-left: auto;
}

.logoDivision {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.SocLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px 0;
}

.SocLinks a {
  margin: 0 10px;
  &:hover {
    transform: translate(0, -5px);
    transition: 0.5s all ease;
    box-shadow: 0 0 20px rgba(32, 115, 241, 0.7);
    border-radius: 50%;
  }
  &:active {
    opacity: 0.6;
  }
}

.SocialTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.border::before {
  content: ' ';
  width: 100%;
  height: 2px;
  background-color: rgba(32, 115, 241, 0.5);
}

@media screen and (min-width: 769px) {
  .footer {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .logoDivision {
    display: none;
  }

  .wrapper {
    margin-bottom: 8px;
  }
}
