.mobileNavigation {
  position: fixed;
  background: #0d6efd;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.16);
  width: 100%;
  padding: 10px 0 10px 0;
  bottom: 0;
  left: 0;
  z-index: 111;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.navigationList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.navigationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.camperVan {
  height: 18px;
}

.navigationLink {
  display: flex;
  text-transform: uppercase;
  color: yellow;
  font-weight: 600;
  font-size: 9px;
  letter-spacing: 0.08em;
  flex-direction: column;
  align-items: center;
  &:hover {
    color: rgb(218, 8, 8);
  }
}

.navigationLink svg {
  max-width: 24px;
  display: block;
  margin: 0 auto;
  height: 20px;

  margin: 0 0 5px 0;
}

.navigationLink svg :hover {
  stroke: #f80303;
}

.icon {
  height: 3em;
  width: 3em;
}

.icon ::hover {
  fill: #fd0d0d;
}
