.mobileNavigation {
  position: fixed;
  background: #0d6efd;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 64px;
  bottom: 0;
  left: 0;
  z-index: 111;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.navigationList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 100%;
}
.navigationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.camperVan {
  height: 18px;
}

.navigationLink {
  text-transform: uppercase;
  color: yellow;
  font-weight: 600;
  font-size: 9px;
  line-height: 1.23;
  letter-spacing: 0.08em;
}

.navigationLink svg {
  max-width: 24px;
  display: block;
  margin: 0 auto;
  height: 28px;
}

.navigationLink svg :hover {
  fill: #0d6efd;
}
